# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Variables de entorno
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store



*.zip
*.tar
*.tgz
*.log
*.pyc
*.swp
*.apk
*.sql
*.xlsx
*.xls
*.pdf

**/.DS_Store
*.xlsx#
comand.py
comand.txt
command
dev.py
*Zone.Identifier
.env.*
media/

